---
layout: default
---

<div class="jumbotron wrapper">
  <div class="col-md-8">
    <h1 class="display-4">{{ site.greeting }}</h1>
    <p class="lead">
      {{ site.description }}
    </p>
    <hr class="my-4">
    <p class="lead">
      <a style="color: blue" href="">Link to catalog/data project webpage</a>
    </p>
    <p class="lead">
      <a style="color: blue" href="">Link to other webpages</a>
    </p>
    <hr class="my-4">
    <p><a class="btn btn-primary btn-lg" href="{{ site.baseurl }}/datasets" role="button">Browse All</a></p>
  </div>
  <div class="col-md-4 catalog-logo">
    <img class="inner-logo" src="{{site.baseurl}}{{site.logo}}">
  </div>
</div>


<div class="jumbotron wrapper">
  <div >
    <h1 class="display-4">Catalog Additional Info</h1>
    <p class="lead">
      This section aims at providing any other additional information regarding the catalog and its usage. The catalog additional information could help the catalog users to better understand which kind of data is distributed, how to use such data and which are, eventually, the projects (services, app, research, education and innovation projects) connected to the catalog or to the data distributed.
  </div>
</div>



<h3>Browse by Category</h3>
<div class="homepage-categories">
{% for category in site.data.categories %}
  {% if category.featured == true %}
    {% capture logo_alt %}{{ category.name }}{% if category.logo_credit and category.logo_credit != empty %} logo by {{ category.logo_credit }}{% endif %}{% endcapture %}
    <a href="{{ site.baseurl }}/datasets/?category={{ category.name | slugify }}" class="thumbnail" title="{{ logo_alt }}">
      {% if category.logo and category.logo != empty %}
        <img src="{{ site.baseurl }}{{ category.logo }}" alt="{{ logo_alt }}">
      {% endif %}
      {{ category.name }}
    </a>
  {% endif %}
{% endfor %}
</div>

<h3>Browse by Resource Type</h3>
<div class="homepage-categories">
{% for type in site.data.resources %}
  {% if type.featured == true %}
    {% capture logo_alt %}{{ type.name }}{% if type.logo_credit and type.logo_credit != empty %} logo by {{ type.logo_credit }}{% endif %}{% endcapture %}
    <a href="{{ site.baseurl }}/datasets/?type={{ type.name | slugify }}" class="thumbnail" title="{{ logo_alt }}">
      {% if type.logo and type.logo != empty %}
        <img src="{{ site.baseurl }}{{ type.logo }}" alt="{{ logo_alt }}">
      {% endif %}
      {{ type.name }}
    </a>
  {% endif %}
{% endfor %}
</div>
